# Configuration file

##########################################################################################################
# plugins
#--------------------------------------------------------------------------------------------------------#
# Disabling these plugins can greatly change how the mod functions.
# Your mileage may vary, please report any issues.
##########################################################################################################

plugins {
    # Allow AgriCraft crops to be Harvested using an Orchard setup. This plugin is from Multifarm Crops and should be replaced once Forestry or Agricraft update
    B:AgriCraft=true

    # Compatibility plugin for Actually Additions
    B:forestry.actuallyadditions=true

    # 添加蜜蜂，养蜂系统和蜜蜂产物的组件，会影响世界生成。
    B:forestry.apiculture=true

    # 添加更多树木以及相关产物的组件。
    B:forestry.arboriculture=true

    # 更多生物群系(Biomes O' Plenty)兼容组件。激活后农场能够支持BoP的树苗。
    B:forestry.biomes.o.plenty=true

    # BC6兼容组件。
    B:forestry.buildcraft.fuels=true

    # BC6兼容组件。
    B:forestry.buildcraft.recipes=true

    # BC6兼容组件。
    B:forestry.buildcraft.statements=true

    # BC6兼容组件。
    B:forestry.buildcraft.transport=true

    # 凿子(Chisel)兼容组件。添加背包对其方块的支持。
    B:forestry.chisel=true

    # 末影接口(EnderIO)兼容组件。
    B:forestry.ender.io=true

    # 添加一些使用RF能量的引擎的组件。
    B:forestry.energy=true

    # 更多实用设备(Extra Utilities)兼容组件。激活后农场能够支持末影百合。
    B:forestry.extra.utilities=true

    # 添加各种各样的机器，以合成，生产和加工各种产品的组件。
    B:forestry.factory=true

    # 添加了自动化农场和收获设备的组件，可以产出各种各样的产物。
    B:forestry.farming=true

    # 添加食物的组件。
    B:forestry.food=true

    # for.plugin.greenhouse.description
    B:forestry.greenhouse=true

    # HarvestCraft(潘马斯农场)兼容组件。激活后农场能够支持HarvestCraft的植物及树苗。
    B:forestry.harvestcraft=true

    # Immersive Engineering(沉浸工程)兼容组件。
    B:forestry.immersiveengineering=true

    # IC2兼容组件。添加电力引擎和新的发电机用来进行能源转换。
    B:forestry.industrialcraft2=true

    # 蝴蝶组件。璀璨夺目。
    B:forestry.lepidopterology=true

    # 添加林业贸易和邮寄系统的组件。
    B:forestry.mail=true

    # for.plugin.malisisDoors.description
    B:forestry.malisis.doors=true

    # for.plugin.mysticalagriculture.description
    B:forestry.mysticalagriculture=true

    # 自然(Natura)兼容组件。激活后农场能够支持Natura的树苗。
    B:forestry.natura=true

    # 添加背包和板条箱的组件。
    B:forestry.storage=true
}


