# Configuration file

clipboard {
    I:0 <
        30
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        103
        114
        111
        117
        110
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        41
        101
        120
        116
        114
        97
        98
        105
        116
        109
        97
        110
        105
        112
        117
        108
        97
        116
        105
        111
        110
        37
        51
        65
        98
        111
        100
        121
        112
        97
        114
        116
        95
        116
        101
        109
        112
        108
        97
        116
        101
        63
        3
        0
        1
        115
        0
        0
        0
        1
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        90
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -48
        76
        -83
        40
        41
        74
        76
        -54
        44
        -55
        77
        -52
        -53
        44
        40
        -51
        73
        44
        -55
        -52
        -49
        3
        74
        38
        -27
        -89
        84
        22
        36
        22
        -107
        -60
        -105
        -92
        -26
        22
        0
        69
        83
        -19
        25
        26
        24
        63
        48
        -14
        127
        64
        -123
        12
        104
        96
        -56
        -53
        23
        64
        101
        46
        -16
        7
        0
        -79
        0
        0
        81
        -103
        85
        105
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:1 <
        30
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        103
        114
        111
        117
        110
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        41
        101
        120
        116
        114
        97
        98
        105
        116
        109
        97
        110
        105
        112
        117
        108
        97
        116
        105
        111
        110
        37
        51
        65
        98
        111
        100
        121
        112
        97
        114
        116
        95
        116
        101
        109
        112
        108
        97
        116
        101
        63
        3
        0
        1
        115
        0
        0
        0
        1
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        82
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -48
        76
        -83
        40
        41
        74
        76
        -54
        44
        -55
        77
        -52
        -53
        44
        40
        -51
        73
        44
        -55
        -52
        -49
        3
        74
        38
        -27
        -89
        84
        22
        36
        22
        -107
        -60
        -105
        -92
        -26
        22
        0
        69
        83
        -19
        25
        26
        24
        63
        48
        -14
        127
        64
        -123
        12
        104
        96
        -72
        -55
        3
        0
        94
        89
        87
        -87
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:2 <
        30
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        103
        114
        111
        117
        110
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        41
        101
        120
        116
        114
        97
        98
        105
        116
        109
        97
        110
        105
        112
        117
        108
        97
        116
        105
        111
        110
        37
        51
        65
        98
        111
        100
        121
        112
        97
        114
        116
        95
        116
        101
        109
        112
        108
        97
        116
        101
        63
        3
        0
        1
        115
        0
        0
        0
        9
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        82
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -48
        76
        -83
        40
        41
        74
        76
        -54
        44
        -55
        77
        -52
        -53
        44
        40
        -51
        73
        44
        -55
        -52
        -49
        3
        74
        38
        -27
        -89
        84
        22
        36
        22
        -107
        -60
        -105
        -92
        -26
        22
        0
        69
        83
        -19
        25
        26
        -104
        62
        48
        -14
        127
        64
        -123
        12
        104
        96
        -72
        -55
        3
        0
        95
        76
        87
        -86
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:3 <
        30
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        103
        114
        111
        117
        110
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        41
        101
        120
        116
        114
        97
        98
        105
        116
        109
        97
        110
        105
        112
        117
        108
        97
        116
        105
        111
        110
        37
        51
        65
        98
        111
        100
        121
        112
        97
        114
        116
        95
        116
        101
        109
        112
        108
        97
        116
        101
        63
        3
        0
        1
        115
        0
        0
        0
        0
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        83
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -48
        76
        -83
        40
        41
        74
        76
        -54
        44
        -55
        77
        -52
        -53
        44
        40
        -51
        73
        44
        -55
        -52
        -49
        3
        74
        38
        -27
        -89
        84
        22
        36
        22
        -107
        -60
        -105
        -92
        -26
        22
        0
        69
        83
        -19
        25
        24
        62
        48
        -42
        55
        32
        32
        3
        3
        8
        -93
        -126
        -31
        38
        15
        0
        80
        83
        79
        48
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


